

## ANDROID FILES

android/.idea/
android/app/build
android/local.properties
android/build
android/captures
android/secrets.properties
android/local.properties
android/.externalNativeBuild
android/.cxx
android/.gradle
*.iml

## DOTNET FILES

api/.idea/
api/bin/
api/obj/


.DS_Store